@import 'partials/reset'; // reset all tags
@import 'partials/variables'; // colors, fonts etc...
@import 'partials/layout'; // layout
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700'; // import Google fonts
// all possible fonts on link @import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700|Nobile:400,700|Heebo:400,700,900|Oswald:400,700|Trirong:400,700|Bitter:400,700|Yrsa:400,70'; // import Google fonts

body {background:$lightgrey;}
html {overflow-y: scroll;}

// Map Formats


b {
  font-weight: 700;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

.clear {
    clear:both;
}

#mapContainer {
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:block !important;
    z-index:2;
}

.leaflet-right {
    display: none;
}

.leaflet-top {
  @include MQ(M) {
        top:auto;
        bottom:75px;
        display:none;
        }
}

#mapContainer > div.angular-leaflet-map {
    height:100%;
    width:100%;
}

// Legende

#legende {
    position: fixed;
    bottom: 20%;
    right: 10px;
    z-index: 1;
    background-color:rgba(255,255,255,0.8);
    padding:30px;
    width:25%;
    box-shadow: 5px 5px 30px -8px rgba(0,0,0,0.75);
        @include MQ(M) {
            width: 90%;
            height:50px;
            top:0;
            left:0;
            bottom:auto;
            padding:10px 5% 5px 5%;
            overflow:hidden;
            transition:all 0.5s ease;
        }
}

#legende h2 {
    font-family:$laufschrift;
    font-size:$laufschrift-size;
    font-weight: $titel-weight;
    margin-bottom:$elementmargin;
}

#legende p, #legende label {
    font-family:$laufschrift;
    font-size:$laufschrift-size;
    font-weight: $laufschrift-weight;
    line-height: $laufschrift-lineheight-S;
}

#legende p {
    margin-bottom:$elementmargin;
}

#legende p a {
    color:$tawo;
    text-decoration: none;
    
}

#legende p a:hover {
    border-bottom: 1px solid black;
    border-bottom-color:$tawo;
}

#legende img{
    width:111px;
    margin-bottom:$elementmargin;
        @include MQ(S) {
            width:100px;
            margin-top:4px;
    
    }
}

// header on article view
#articleheader {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color:rgba(255,255,255,0.8);
    width:100%;
    height:70px;
    text-align: right;
}

#articleheader > div {
    width:100%;
    max-width:1100px;
    padding:10px 0;
    margin:0 auto;
}

#articleheader img {
    float:left;
    width:111px;
    
        @include MQ(L) {
            padding-left:10%;
    
    }
        @include MQ(M) {
            padding-left:5%;
    
    }
        @include MQ(S) {
            width:100px;
            margin-top:4px;
    
    }
}

#articleheader a:not(:first-child) {
    text-align:center;
    font-family:$titel;
    padding-top:13px;
    margin-top:5px;
    display:inline-block;
    width:41px;
    height:41px;
    vertical-align: middle;
    color:white;
    text-decoration: none;
    background:url("../images/social/greycircle.png") no-repeat;
    background-size: contain;
        margin-right:5px;
     
}



#articleheader a:not(:first-child):hover {
    font-weight:bold;
}

#articleheader a:last-child {
    
        @include MQ(L) {
            margin-right:10%;
        }
        @include MQ(M) {
            margin-right:5%;
        }
}
// mobile navigation settings

.mobilenav {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="mobilenav"] {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
        @include MQ(M) {
            display:inline-block;
            
        }
}
.mobilenav:checked ~ #legende {
    height: 450px;
}

// checkboxes
#inputwrap {
    display:table;
    margin:50px auto 30px auto;
}


#legende input[type=checkbox] {
    display: none;
}

#legende label {
    display: inline-block;
    cursor: pointer;
    margin:0 0 5px 0;
    padding:43px 0 0 0;
    position:relative;
    font-size:16px;
    float:left;
    width:80px;
    text-align:center;  
    
}

#legende label:nth-child(2) {
    background: url("../images/labels/essen.svg") no-repeat top center;
    background-size:41px;
    
}

#legende label:nth-child(4) {
    background: url("../images/labels/trinken.svg") no-repeat top center;
    background-size:41px;
}

#legende label:nth-child(6) {
    background: url("../images/labels/einkaufen.svg") no-repeat top center;
    background-size:41px;
}

#legende label:nth-child(8) {
    background: url("../images/labels/tanzen.svg") no-repeat top center;
    background-size:41px;
}

#legende label:nth-child(10) {
    background: url("../images/labels/erleben.svg") no-repeat top center;
    background-size:41px;
}

#legende label:nth-child(12) {
    background: url("../images/labels/allekategorien.svg") no-repeat top center;
    background-size:41px;
}





#legende label:before {
    
    content: "";
    display: inline-block;
    width: 100%;
    height: 38px;
    position:absolute;
    top:0;
    left:0;
}


#legende input:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    text-align: center;
    font-size:26px;
    padding-top:10px;
}

.socialshare {
    display:block;
    height:40px;
    width:40px;
    background-position: 40px 0;
    background-size:cover;
    float:right;
        @include MQ(S) {
            height:25px;
            width:25px;
            background-position: 25px 0;
            margin-top: 8px;
        }
}

.socialshare:hover {
    background-position: 0 0;
    cursor:pointer !important;
}

#legende a:nth-child(2) {
    @include MQ(M) {
        margin-right:35px !important;
    }
}

.facebook {
    background-image: url("../images/social/facebook.png");
    margin-right:5px;
}
.twitter {
    background-image: url("../images/social/twitter.png");
    margin-right:5px;
}

.english {
    background-image: url("../images/social/english.png");
    margin-right:5px;
}

.german {
    background-image: url("../images/social/german.png");
    
}

@keyframes titelswipe {
    0% {opacity: 100%; visibility: visible;}
    
    100% {opacity:0; visibility: hidden;}
}
#mapContainer h1 {
    font-family:$titel;
    font-size:80px;
    z-index:2;
    color:white;
    position:fixed;
    top:20px;
    left:0;
    width:100%;
    opacity:100;
    text-align:center;
    font-weight:bold;
    text-shadow: 1px 2px 9px rgba(0, 0, 0, 1);
    animation: titelswipe 1.3s ease-in 3s forwards;
        @include MQ(M) {
            top:85px;
            font-size:40px;
        }
        @include MQ(S) {
            
        }
}

.leaflet-popup-content h2 {
    padding-top:6px;
    font-family: $titel;
    font-size: $laufschrift-size + 11px;
    font-weight: $titel-weight;
    line-height: $laufschrift-lineheight-M;
    @include MQ(S) {
            font-size: $laufschrift-size-mobile + 8px;
        }
}

.leaflet-popup-content p {
    font-family: $laufschrift;
    font-size: $laufschrift-size;
    font-weight: $laufschrift-weight;
    margin-top:8px;
    @include MQ(S) {
            font-size: $laufschrift-size-mobile;
            line-height: $laufschrift-lineheight-S;
        }
}

.leaflet-popup-content a {
    font-family: $laufschrift;
    font-size: $laufschrift-size;
    font-weight: $laufschrift-weight;
    text-decoration:none;
    color:$tawo;
}

.leaflet-popup-content a:hover {
    border-bottom:1px solid;
    border-bottom-color: $tawo;
}

.leaflet-marker-icon, .leaflet-marker-shadow {
    animation: fadein 1.2s;
    opcity:1;
    transition: all 1.2s ease;
}

.leaflet-popup-close-button {
    font-size:22px !important;
    color:$tawo !important;
    padding: 9px 9px 0 0 !important;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#startbutton {
    font-family:$titel;
    font-size:25px;
    color:white;
    position: fixed;
    bottom: 10px;
    left:0;
    right:0;
    margin:0 auto;
    width:250px;
    text-align:center;
    display:block;
    padding:12px 24px;
    background-color:rgba(0, 0, 0, 0.5);
    border:1px solid white;
    text-decoration:none;
    z-index:3;
    transition:background 1s ease;
}

#startbutton:hover {
    background-color:rgba(0, 0, 0, 0.8);
}



.ng-hide:not(.ng-hide-animate) {
    /* this is just another form of hiding an element */
    display: block!important;
    opacity: 0;
    visibility: hidden;
    transition: all 0.33s ease-out;
}

// Content Formats

#content {
    margin:0 auto;
    width:100%;
    max-width:$max-width-content;
    // padding-top:70px; padding if we want top space for navbar
}

#content > article {
    width:100%;
    background-size:100% auto;
    background-repeat:no-repeat;
    padding-top:40%;
    margin-bottom:50px;
        @include MQ(M) {
            background-size: 120% auto;
            background-position: top center;
            
    }
        @include MQ(S) {
            padding-top:68%;
            background-size: 140% auto;
            
        }
}

#content > article:after {
    content:"● ● ●";
    color:$mediumgrey;
    margin: 50px auto;
    display: table;
}

/*
#content > article:last-child:after {
    display:none;
}
*/
.articlecontainer {
    width:80%;
    background:#fff;
    margin:0 auto;
    /* border-bottom: 8px solid $darkgrey; */
    box-shadow: 0px 0px 76px -15px rgba(0,0,0,0.28);
        @include MQ(M) {
            width: 90%;
        }
        @include MQ(S) {
            width: 100%;
        }
}

.articlecontainer p {
    font-family:$laufschrift;
    font-weight:$laufschrift-weight;
    font-size:$laufschrift-size;
    line-height: $laufschrift-lineheight-M;
    padding:0 $padding-articlecontainer 30px $padding-articlecontainer;
        @include MQ(S) {
            font-size: $laufschrift-size-mobile;
            line-height: $laufschrift-lineheight-S;
        }
}

.articlecontainer figure > img {
    width:100%;
}

.articlecontainer figure {
    margin:20px 0 10px 0;
}

.articlecontainer figure figcaption {
    color:$mediumgrey;
    font-family:$titel;
    font-size:$laufschrift-size - 2px;
    line-height: normal;
    
}
.articlecontainer h2 {
    font-family:$titel;
    font-weight:$titel-weight; 
    font-size:$titel-size;
    color:$darkgrey;
    padding: 20px $padding-articlecontainer;
        @include MQ(S) {
            font-size: $titel-size-mobile;
        }
}

#content article > span {
    color:#fff;
    font-family:$laufschrift;
    font-size:22px;
    font-weight:$laufschrift-weight;
    line-height:28px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.77);
    margin:-64px 12% 0 0;
    float:right;
        @include MQ(S) {
            margin-right: 2%;
        }
}

#content article > span strong {
    font-weight:$titel-weight;
    font-size:29px;
}

.schlechtwetter {
    background:url('../images/raincloud.png') no-repeat left center;
    background-size:30px;
    font-family:$titel;
    font-weight:$titel-weight;
    font-size:20px;
    display:block;
    padding: 10px 0 10px 40px;
        @include MQ(S) {
            font-size:$laufschrift-size-mobile;
    }
    
}

.embed-container { 
    position: relative; 
    padding-bottom: 52%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
    margin:0 20px 20px 20px;
    } 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.post-meta {
    display:block;
    background: $darkgrey;
    color: $lightgrey;
    text-align: center;
    font-family:$titel;
    font-weight:$laufschrift-weight;
    font-size:$laufschrift-size;
    line-height: $laufschrift-lineheight-M;
            @include MQ(S) {
            font-size: $laufschrift-size-mobile;
            line-height: $laufschrift-lineheight-S;
        }
}

.post-meta a {
    display: inline-block;
    color: $lightgrey;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

footer {
    display:block;
    height:110px;
    width:100%;
    background:$lightgrey;
    
}

/*
footer:after {
    content:"● ● ●";
    color:$mediumgrey;
    margin: 50px auto;
    display: table;
}
*/
footer p {
    width:100%;
    max-width:1100px;
    margin:0 auto 100px auto;
    text-align: right;
    padding-top:15px;
    color:$darkgrey;
    font-family:$titel;
    font-weight:$laufschrift-weight;
    font-size:$laufschrift-size-mobile;
    line-height: $laufschrift-lineheight-M;
            @include MQ(S) {
            font-size: $laufschrift-size-mobile;
            line-height: $laufschrift-lineheight-S;
        }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// bower:scss
// endbower