// Layout

$S:     480px;
$M:    768px;
$L:     1100px;

$max-width-content: 1100px;
$padding-articlecontainer: 20px;
$elementmargin: 20px;

// colors

$darkgrey: #414141;
$mediumgrey: #d6d6d6;
$lightgrey: #f9f9f9;
$tawo: #009640;
$hellblau: #0078A8;

// fonts

$titel: 'Monserrat', sans-serif;
$titel-weight: 700;
$titel-size:53px;
$titel-size-mobile:33px;
$laufschrift: 'Droid Serif', sans-serif;
$laufschrift-weight: 100;
$laufschrift-size:18px;
$laufschrift-size-mobile:16px;
$laufschrift-lineheight-S: 22px;
$laufschrift-lineheight-M: 26px;

// animation

$animation-duration: 0.7s;





