// Layout

$S:     480px;
$M:     768px;
$L:     1170px;

$padding-articlecontainer: 20px;

// colors

$darkgrey: #243040;

// fonts

$titel: 'Roboto', sans-serif;
$titel-weight: 700;
$titel-size:53px;
$laufschrift: 'Roboto', sans-serif;
$laufschrift-weight: 100;
$laufschrift-size:22px;

// animation

$animation-duration: 0.7s;


// layout options
$max-width-content: 1100px;

