<!doctype html>
<html ng-app="projekteApp">
  <head>
    <meta charset="utf-8">
    <title>Besuch in Basel</title>
    <meta name="description" content="Hier kommt eine Beschreibung">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    
  </head>
  <body ng-controller="showHideMapCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <a id="startbutton" ng-click="toggleMap()" href="#content" target="_self">{{buttonText}}</a>
      
    <section ng-controller="mapCtrl" id="mapContainer" ng-show="showmap">
        <h1>Besuch in Basel</h1>
        <leaflet lf-center="basel" event-broadcast="events" markers="markers" defaults="defaults" layers="layers"></leaflet>

        <!-- mobile hamburger navigation -->
        <input type="checkbox" id="mobilenav" class="mobilenav" /><label for="mobilenav"></label>

        <div id="legende">
            <!-- Karte gemäss http://tombatossals.github.io/angular-leaflet-directive/examples/0000-viewer.html#/markers/groups-example -->
            <a href="http://www.tageswoche.ch" target="_blank"><img src="images/tawo-logo.png" /></a>
            <a class="socialshare twitter" href="https://twitter.com/intent/tweet?text=%23BesuchinBasel%20auf%20%40TagesWoche&url=http://www.tageswoche.ch/besuchinbasel/"></a>
            <a class="socialshare facebook" href="https://www.facebook.com/dialog/feed?app_id=204329636307540&redirect_uri=http://www.tageswoche.ch/besuchinbasel/&link=http://www.tageswoche.ch/besuchinbasel/&name=Besuch%20in%20Basel%20|%20TagesWoche&description=Entdecke%20Basel%20von%20einer%20neuen%20Seite"></a>
            <h2>Entdecken Sie Basel</h2>
            <p>Geniessen Sie Ihren Sommer in Basel mit den TagesWoche Tipps rund um Kultur, Essen und Ausgang. Stöbern Sie durch unsere Ideen via MapMarkers oder starten Sie die komplette Tour.</p>
            <input id="Trinken" type="checkbox" ng-click="toggleLayer('Trinken')" checked="checked"><label for="Trinken">Trinken</label><br/>
            <input id="Essen" type="checkbox" ng-click="toggleLayer('Essen')" checked="checked"><label for="Essen">Essen</label><br/>
            <input id="Tanzen" type="checkbox" ng-click="toggleLayer('Tanzen')" checked="checked"><label for="Tanzen">Tanzen</label><br/>
            <input id="Erleben" type="checkbox" ng-click="toggleLayer('Erleben')" checked="checked"><label for="Erleben">Erleben</label><br/>
            <!-- <a href="" id="hotelsbutton"  ng-click="toggleLayer('hotels')" onClick="javascript:changeTextHotels();">Hotels ausblenden</a><br/>
            <a href="" id="restaurantbutton" ng-click="toggleLayer('restaurants')" onClick="javascript:changeTextRestaurants();">Restaurants ausblenden</a> -->
        </div>
        
    </section>

    <section ng-controller="dataFeedCtrl" id="content">
        <article ng-repeat="entry in parsedEntries | filter:{tag:filterByDay}:true" id="{{ entry.datum }}" style="background-image:url('images/{{ entry.images }}.jpg');">
            <span>{{ entry.tag }}<br/><strong>{{ entry.stunde }} Uhr</strong></span>
            <div class="articlecontainer">
                <h2>{{ entry.titel }}</h2>
                <p ng-bind-html="entry.inhalt">{{ entry.inhalt }}</p>
            </div>
        </article>  
    </section>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-media-queries/match-media.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
        <!-- endbuild -->
</body>
</html>
