<!doctype html>
<html ng-app="projekteApp">
  <head>
    <meta charset="utf-8">
    <title>Besuch in Basel</title>
    <meta name="description" content="Geniessen Sie Basel mit den TagesWoche Tipps rund um Kultur, Shopping, Essen und Ausgang.">
    <meta name="author" content="Felix Michel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url"           content="http://localhost:9000/#/content" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Besuch in Basel" />
	<meta property="og:description"   content="Geniessen Sie Basel mit den TagesWoche Tipps rund um Kultur, Shopping, Essen und Ausgang." />
	<meta property="og:image"         content="images/social/fbshare.jpg" />


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    
  </head>
  <body ng-controller="showHideMapCtrl">

      
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <a id="startbutton" ng-click="toggleMap()" href="#content" target="_self">{{buttonText}}</a>
      
    <section ng-controller="mapCtrl" id="mapContainer" ng-show="showmap">
        <h1>Besuch in Basel</h1>
        <leaflet lf-center="basel" event-broadcast="events" markers="markers" defaults="defaults" layers="layers"></leaflet>

        <!-- mobile hamburger navigation -->
        <input type="checkbox" id="mobilenav" class="mobilenav" /><label for="mobilenav"></label>

        <div id="legende">
            <!-- Karte gemäss http://tombatossals.github.io/angular-leaflet-directive/examples/0000-viewer.html#/markers/groups-example -->
            <a href="http://www.tageswoche.ch" target="_blank"><img src="images/tawo-logo.png" /></a>
            <!-- <a class="socialshare german" href="#"></a> -->
            <a class="socialshare english" href="#"></a>
            <a class="socialshare twitter" target="_blank" href="https://twitter.com/intent/tweet?text=%23BesuchinBasel%20auf%20%40TagesWoche&url=http://www.tageswoche.ch/cityguide/"></a>
            <a class="socialshare facebook" target="_blank" href="https://www.facebook.com/dialog/feed?app_id=204329636307540&redirect_uri=http://www.tageswoche.ch/cityguide/&link=http://www.tageswoche.ch/cityguide/&name=Besuch%20in%20Basel&description=Geniessen%20Sie%20Basel%20mit%20den%20TagesWoche%20Tipps%20rund%20um%20Kultur,%20Shopping,%20Essen%20und%20Ausgang"></a>
            
            <h2>Entdecken Sie Basel</h2>
            <p>Geniessen Sie Basel mit den TagesWoche Tipps rund um Kultur, Shopping, Essen und Ausgang. Stöbern Sie durch unsere Ideen oder starten Sie <a ng-click="toggleMap()" href="#content" target="_self">die komplette Tour</a>.</p>
            <div id="inputwrap">
            <input id="Essen" type="checkbox" ng-click="toggleLayer('Essen')"  ng-checked="checked"><label for="Essen">Essen</label>
            <input id="Trinken" type="checkbox" ng-click="toggleLayer('Trinken')" ng-checked="checked"><label for="Trinken">Trinken</label>
            <input id="Einkaufen" type="checkbox" ng-click="toggleLayer('Einkaufen')" ng-checked="checked"><label for="Einkaufen">Einkaufen</label>
            <input id="Tanzen" type="checkbox" ng-click="toggleLayer('Tanzen')" ng-checked="checked"><label for="Tanzen">Tanzen</label>
            <input id="Erleben" type="checkbox" ng-click="toggleLayer('Erleben')" ng-checked="checked"><label for="Erleben">Erleben</label>
                
                
            <input type="checkbox" ng-model="checked" id="masterchecker" ng-init="checked=true" ng-click="toggleLayer('all');">
                <label for="masterchecker">Alle<br/>Tipps</label>
            
            </div>
            
            <!-- <a href="" id="hotelsbutton"  ng-click="toggleLayer('hotels')" onClick="javascript:changeTextHotels();">Hotels ausblenden</a><br/>
            <a href="" id="restaurantbutton" ng-click="toggleLayer('restaurants')" onClick="javascript:changeTextRestaurants();">Restaurants ausblenden</a> -->
        </div>
        
    </section>

    <section ng-controller="dataFeedCtrl" id="content">
        <article ng-repeat="entry in parsedEntries | filter:{tag:filterByDay}:true" id="{{ entry.datum }}" style="background-image:url('images/standorte/{{ entry.images }}.jpg');">
            <span>{{ entry.tag }}<br/><strong>{{ entry.stunde }} Uhr</strong></span>
            <div class="articlecontainer">
                <h2>{{ entry.titel }}</h2>
                    
                <div ng-if="entry.video" class="embed-container"><iframe ng-src="{{ trustSrc(entry.video) }}" frameborder="0" allowfullscreen></iframe></div>
                <p ng-bind-html="entry.inhalt">{{ entry.inhalt }}</p>
                <span class="post-meta"><a href="{{ entry.navigation }}" target="_blank">Routenplaner</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="{{ entry.link }}" target="_blank">Webseite</a></span>
            </div>
        </article>  
    </section>
      
    <footer>
    <p>
        <b>Konzept:</b> Renato Beck, Felix Michel, Stefan Kempf<br>
        <b>Webdesign:</b> Felix Michel, Stefan Kempf<br>
        <b>Autoren:</b> Redaktoren TagesWoche
        
        
    </p>
      
    </footer>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-media-queries/match-media.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
        <!-- endbuild -->

<!-- Asynchronous google analytics-->

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22593782-4']);
    _gaq.push(['_setDomainName', 'tageswoche.ch']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<!-- Chartbeat -->
<script type='text/javascript'>
    var _sf_async_config={};
    /** CONFIGURATION START **/
    _sf_async_config.uid = 52858;
    _sf_async_config.domain = 'tageswoche.ch';
    _sf_async_config.useCanonical = true;
    _sf_async_config.sections = 'TagesWoche';
    _sf_async_config.authors = 'Felix Michel, Stefan Kempf';
    /** CONFIGURATION END **/
    (function(){
        function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', 'https://static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>
    
</body>
</html>
