// colors

$color-1: #243040; // Ebony Cla
$color-2: #008148; // TaWo gruen
$color-3: #ffffff; // overlay
$color-4: #ffffff; // White
$color-5: #ffffff; // White
$color-6: #ffffff; // White

// fonts

$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Merriweather', serif;

// animation

$animation-duration: 0.7s;

